path/to/large/file filter=lfs diff=lfs merge=lfs -text
static/images/_Getintopc.com_Bootstrap_Studio_5.9.1x64[[:space:]](1)/Bootstrap_Studio_5.9.1x64/Bootstrap[[:space:]]Studio.exe filter=lfs diff=lfs merge=lfs -text
static/images/_Getintopc.com_Bootstrap_Studio_5.9.1x64[[:space:]](1)/Bootstrap_Studio_5.9.1x64/Crack/app.asar filter=lfs diff=lfs merge=lfs -text
static/images/_Getintopc.com_Bootstrap_Studio_5.9.1x64[[:space:]](1).rar filter=lfs diff=lfs merge=lfs -text
