{% extends 'index.html' %}
{% load static %}


{% block content %}




<div class=" d-flex w-100 justify-content-center align-items-center " style="height:auto;">

    {% if message %}
      <div  class="alert alert-success" role="alert">
        {{ message }}
      </div>
    {% endif %}
    <div class="w-50 p-5 " > <h1 class="text-center">Students Form</h1>

    <form method="post" action="" class="border formstyle p-3" >
        {% csrf_token %}

        <label for="name">Name:</label>
        {{order_form.name}}

        <label for="dob">Date of Birth:</label>
        {{order_form.dob}}

        <label for="age">Age:</label>
        {{order_form.age}}

        <label for="gender">Gender:</label>
        {{order_form.gender}}

        <label for="phone_number">Phone Number:</label>
        {{order_form.phone_number}}

        <label for="mail">Email:</label>
        {{order_form.mail_id}}

        <label for="address">Address:</label>
        {{order_form.address}}

        <label for="depart">Department:</label>
        {{order_form.department}}

        <label for="course">Course:</label>
        {{order_form.course}}

        <label for="purpose">Purpose:</label>
        {{order_form.purpose}}

        <label for="material_provide">Materials Provide:</label>
        {{order_form.materials_provide}}
        
        <button type="submit" class="btn btn-primary m-2">Submit&nbsp;</button>
    </form>
</div>
</div>


<!-- Add this to your HTML template -->
<script>
    $(document).ready(function () {
        $('#depart').change(function () {
            var departmentId = $(this).val();
            if (departmentId) {
                $.ajax({
                    type: 'GET',
                    url: `/get_courses/${departmentId}/`,
                    success: function (data) {
                        var courseSelect = $('#course');
                        courseSelect.empty();
                        $.each(data, function (index, course) {
                            courseSelect.append('<option value="' + course.id + '">' + course.name + '</option>');
                        });
                    }
                });
            } else {
                // Reset the course dropdown if no department is selected
                $('#course').empty();
                $('#course').append('<option value="" selected disabled>Select a course</option>');
            }
        });

        // Trigger change event on page load to initialize the course dropdown
        $('#depart').change();
    });
</script>



{% endblock content %}